*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    padding: 80px 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.column-right{
    margin-left: 100px;
    height: 450px;
    width: 600px;
    border-radius: 12px;
    border: 1px solid #00000026;
}
.content-right{
    margin-left: -100px;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-left h1{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 550;
}
.content-right h2{
    margin: 45px 0 45px 0;
    font-size: 24px;
    font-weight: 500;
}
.column-left h1 span{
    color: #FF5678
}
.content-right h2 span{
    color: #FF5678
}
.column-left .homeoffice{
    width: 410px;
    height: 310px;
    border-radius: 0px;
}
.register a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    width: 400px;
    height: 50px;
    border-radius: 12px;
    margin-left: 70px;
    background:  #35E6E9;
    border: 1px solid rgba(192, 235, 244, 1)
}
.register .span-entities{
    margin-top: 30px;
    background: #FF5678;
    border: 1px solid rgba(192, 235, 244, 1)
}
.register a:hover{
    transition: .3s;
    background: rgb(71, 71, 71);
}
.case{
    margin-left: 70px;
    margin-top: 70px;
    font-size: 16px;
    font-weight: 14px;
}
.case a{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    box-shadow: 0px 1px 0px  rgba(0, 0, 0, 0.25);
}
.case a span{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);   
}
    